<div data-turbo="false">
  <%= link_to bookmarks_path(post_id: post.id), id: "js-bookmark-button-for-post-#{post.id}", method: :post, remote: true do %>
    <i class="fa-regular fa-star"></i>
  <% end %>
</div>
