<div class="bg_pattern Paper_v2"></div>

<div class="center-text">
  <div class="text-label">
    <%= link_to "新しいメモを作る", category_path%>
  </div>
  <p>
  <div class="text-label">
    <%= link_to "メモの投稿一覧を見る", articles_path%>
  </div>
  </p>
</div>
