<div class="haikei">
<div class="card text-center mx-auto" style="width: 50rem; max-height: 3000rem;">
  <h3>利用規約</h3>
  <br />
  <p> 
    <h5>
      この利用規約（以下，「本規約」といいます。）は，<br />
      rails-dake-memo（以下，「当サービス提供者」と<br />
      いいます。）このウェブサイト上で提供するサービス<br />
      （以下，「本サービスおよびアプリまたは当アプリ」といいます。）<br />
      の利用条件を定めるものです。<br />
      登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，<br />
      本規約に従って，本サービスをご利用いただきます。<br />
    </h5>
  </p>
  <div class="mt-5">
    <h4>第1条（適用）</h4>
  </div>
  <p>
    <h5>
      本規約は，ユーザーと当との間の本サービスの<br>
      利用に関わる一切の関係に適用されるものとします。<br>
      当アプリは本サービスに関し，本規約のほか，<br>
      ご利用にあたってのルール等，各種の定め<br>
      （以下，「個別規定」といいます。）<br>
      をすることがあります。<br>
      これら個別規定はその名称のいかんに関わらず，<br>
      本規約の一部を構成するものとします。<br>
      本規約の規定が前条の個別規定の規定と矛盾する場合には，<br>
      個別規定において特段の定めなき限り，<br>
      個別規定の規定が優先されるものとします。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第2条（利用登録）</h4></div>
  <p>
    <h5>
      ⒈本サービスにおいては，登録希望者が本規約に同意の上，<br>
      当アプリの定める方法によって利用登録を申請し，<br>
      当アプリがこれを承認することによって，<br>
      利用登録が完了するものとします。<br>
      ⒉当アプリは，利用登録の申請者に以下の事由があると<br>
      判断した場合，利用登録の申請を承認しないことがあり，<br>
      その理由については一切の開示義務を負わないものとします。<br>
      本規約に違反したことがある者からの申請である場合<br>
    </h5>
  </p>
  <div class="mt-5"><h4>第3条（ログイン及びアカウント連帯）</h4></div>
  <p>
    <h5>
      ⒈ユーザーは、第三者が提供するサービスのアカウント<br>
      のうち当アプリと連帯を行うことができます。<br>
      ユーザーがアカウント連帯サービスを利用する場合には<br>
      本規約その他当アプリ所定の条件のほか、当該アカウントの<br>
      発行者が定める利用規約やプライバシーその他条件に<br>
      従うものとします。<br>
      ⒉ユーザーがアカウント連帯サービスを利用した場合、<br>
      当アプリが指定する場合を除き、ユーザーは連帯を解除する<br>
      ことはできず、また、当該アカウント側の利用停止措置を<br>
      受ける場合や、当該アカウントの国設定の状況により、<br>
      本サービスの利用の全部又は一部が制限される場合があります。<br>
      なお、当アプリは、当該アカウントと本サービスの連帯により<br>
      ユーザーに生じた不利益や損害についても<br>
      一切の責任を負いません。<br>
    </h5>
  </p>
  <div class="mt-5"><h4>第4条（ユーザーIDおよびパスワードの管理）</h4></div>
  <p>
    <h5>
      ⒈ユーザーは，自己の責任において，本サービスの<br>
      ユーザーIDおよびパスワードを適切に<br>
      管理するものとします。<br>
      ユーザーは，いかなる場合にも，<br>
      ユーザーIDおよびパスワードを第三者に<br>
      譲渡または貸与しもしくは第三者と<br>
      共用することはできません。<br>
      ⒉当アプリは，ユーザーIDとパスワードの組み合わせが<br>
      登録情報と一致してログインされた場合には，<br>
      そのユーザーIDを登録しているユーザー自身<br>
      による利用とみなします。<br>
      ⒊ユーザーID及びパスワードが第三者によって<br>
      使用されたことによって生じた損害は，<br>
      当アプリが一切の責任を負わないものとします。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第5条（利用料金および支払方法）</h4></div>
  <p><h5>本アプリは無料でご利用頂けます。</h5></p>

  <div class="mt-5"><h4>第6条（禁止事項）</h4></div>
  <p>
    <h5>
      ユーザーは，本サービスの利用にあたり，<br>
      以下の行為をしてはなりません。<br>
      法令または公序良俗に違反する行為<br> 
      犯罪行為に関連する行為<br>
      本サービスの内容等，本サービスに含まれる著作権，<br>
      商標権ほか知的財産権を侵害する行為<br>
      当アプリ，ほかのユーザー，またはその他<br>
      第三者のサーバーまたはネットワークの機能を<br>
      破壊したり，妨害したりする行為<br>
      本サービスによって得られた情報を<br>
      商業的に利用する行為<br>
      当アプリのサービスの運営を妨害するおそれのある行為<br>
      不正アクセスをし，またはこれを試みる行為<br>
      他のユーザーに関する個人情報等を収集または<br>
      蓄積する行為<br>
      不正な目的を持って本サービスを利用する行為<br>
      本サービスの他のユーザーまたはその他の第三者に<br>
      不利益，損害，不快感を与える行為<br>
      他のユーザーに成りすます行為<br>
      当アプリが許諾しない本サービス上での<br>
      宣伝，広告，勧誘，または営業行為<br>
      面識のない異性との出会いを目的とした行為<br>
      当アプリのサービスに関連して，反社会的勢力に対して<br>
      直接または間接に利益を供与する行為<br>
      その他，当アプリが不適切と判断する行為<br>
    </h5>
  </p>
  <div class="mt-5"><h4>第7条（本サービスの提供の停止等）</h4></div>
  <p>
    <h5>
      以下のいずれかの事由があると判断した場合，<br>
      ユーザーに事前に通知することなく本サービスの全部<br>
      または一部の提供を停止または中断することが<br>
      できるものとします。<br>
      本サービスにかかるコンピュータシステムの保守点検<br>
      または更新を行う場合<br>
      地震，落雷，火災，停電または天災などの不可抗力により，<br>
      本サービスの提供が困難となった場合<br>
      コンピュータまたは通信回線等が事故により停止した場合<br>
      その他，当アプリが本サービスの提供が困難と判断した場合<br>
      当アプリは，本サービスの提供の停止または中断により，<br>
      ユーザーまたは第三者が被ったいかなる不利益または<br>
      損害についても，一切の責任を負わないものとします。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第8条（利用制限および登録抹消）</h4></div>
  <p>
    <h5>
      ⒈当アプリは，ユーザーが以下のいずれかに該当する場合には，<br>
      事前の通知なく，ユーザーに対して，本サービスの全部<br>
      もしくは一部の利用を制限し，またはユーザーとしての<br>
      登録を抹消することができるものとします。<br>
      ⒉本規約のいずれかの条項に違反した場合<br>
      当アプリは，本条に基づき当アプリが行った行為により<br>
      ユーザーに生じた損害について，一切の責任を負いません。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第9条（退会）</h4></div>
  <p> 
    <h5>
      ユーザーは，当アプリの定める退会手続により，<br>
      本サービスから退会できるものとします。<br>

    </h5>
  </p>

  <div class="mt-5"><h4>第10条（保証の否認および免責事項）</h4></div>
  <p>
    <h5>
      当アプリは，本サービスに事実上または法律上の瑕疵<br>
      （安全性，信頼性，正確性，完全性，有効性，<br>
      特定の目的への適合性，セキュリティなどに関する<br>
      欠陥，エラーやバグ，権利侵害などを含みます。）<br>
      がないことを明示的にも黙示的にも保証しておりません。<br>
      当アプリは，本サービスに起因してユーザーに生じた<br>
      あらゆる損害について、当アプリの故意又は重過失による場合<br>
      を除き、一切の責任を負いません。<br>
      ただし，本サービスに関する当アプリとユーザーとの間の契約<br>
      （本規約を含みます。）が消費者契約法に定める消費者契約<br>
      となる場合，この免責規定は適用されません。<br>
      前項ただし書に定める場合であっても，当アプリは，<br>
      当アプリの過失（重過失を除きます。）による債務不履行<br>
      または不法行為によりユーザーに生じた損害のうち<br>
      特別な事情から生じた損害（当アプリまたはユーザーが<br>
      損害発生につき予見し，または予見し得た場合を含みます。）<br>
      について一切の責任を負いません。<br>
      また，当アプリの過失（重過失を除きます。）<br>
      による債務不履行または不法行為によりユーザーに<br>
      生じた損害の賠償は，ユーザーから当該損害が<br>
      発生した月に受領した利用料の額を上限とします。<br>
      当アプリは，本サービスに関して，ユーザーと<br>
      他のユーザーまたは第三者との間において生じた取引，<br>
      連絡または紛争等について一切責任を負いません。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第11条（サービス内容の変更等）</h4></div>
  <p>
    <h5>
      当アプリは，ユーザーへの事前の告知をもって、<br>
      本サービスの内容を変更、追加または廃止することがあり、<br>
      ユーザーはこれを承諾するものとします。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第12条（利用規約の変更）</h4></div>
  <p>
    <h5>
      ⒈当アプリは以下の場合には、ユーザーの個別の同意を要せず、<br>
      本規約を変更することができるものとします。<br>
      本規約の変更がユーザーの一般の利益に適合するとき。<br>
      本規約の変更が本サービス利用契約の目的に反せず、<br>
      かつ、変更の必要性、変更後の内容の相当性その他の変更に係る<br>
      事情に照らして合理的なものであるとき。<br>
      ⒉当アプリはユーザーに対し、前項による本規約の変更にあたり、<br>
      事前に、本規約を変更する旨及び変更後の<br>
      本規約の内容並びにその効力発生時期を通知します。<br>
    </h5>
  </p>
  <div class="mt-5"><h4>第13条（個人情報の取扱い）</h4></div>
  <p> 
    <h5>
      当アプリは，本サービスの利用によって取得する<br>
      個人情報については，当アプリ「プライバシーポリシー」<br>
      に従い適切に取り扱うものとします。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第14条（ご利用に関する責任）</h4></div>
  <p>
    <h5>
      ⒈ユーザーは、本サービスを自己の責任において<br>
      利用するものとします。<br>
      ⒉当アプリは、ユーザーに対し、本サービスに瑕疵やバグ等が<br>
      ないことを保証せず、また当該瑕疵やバグ等の補修は<br>
      自己の裁量により行うものとします。<br />
      ⒊当アプリは、ユーザーに対し、本サービスが全ての機器に<br />
      おいて利用できること、その他本サービスの内容に関し、<br>
      一切の保証を行いません。<br>
      ⒋ユーザーによる本サービスの利用により、ユーザーが<br>
      当アプリや他社に対して損害を与えた場合は、<br>
      ユーザーは自己責任と費用を以て<br>
      当該損害を賠償するものとします。<br>
      ⒌当アプリは、ユーザーよりご提供いただいた情報を<br>
      前提として、本サービスの提供を行います。当該情報<br>
      に誤りがあったことによりユーザーに損害が発生しても、<br>
      当アプリは何らの責任を負うものではありません。<br>


    </h5>
  </p>
  <br />

  <div class="mt-5"><h4>第15条（通知または連絡）</h4></div>
  <p>
    <h5>
      ユーザーと当アプリとの間の通知または連絡は，<br>
      当アプリの定める方法によって行うものとします。<br>
      当アプリは,ユーザーから,当アプリが別途定める方式に<br>
      従った変更届け出がない限り,現在登録されている<br>
      連絡先が有効なものとみなして<br>
      当該連絡先へ通知または連絡を行い,これらは,<br>
      発信時にユーザーへ到達したものとみなします。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第16条（権利義務の譲渡の禁止）</h4></div>
  <p>
    <h5>
      ユーザーは，当アプリの書面による事前の承諾なく，<br>
      利用契約上の地位または本規約に基づく権利もしくは<br>
      義務を第三者に譲渡し，または担保に供することはできません。<br>
    </h5>
  </p>

  <div class="mt-5"><h4>第17条（準拠法・裁判管轄）</h4></div>
  <p>
    <h5>
      本規約の解釈にあたっては，日本法を準拠法とします。<br>
      本サービスに関して紛争が生じた場合には，<br>
      当アプリの運営所在地を管轄する裁判所を専属的合意管轄とします。<br>
    </h5>
  </p>
  <br />
  <h5><%= link_to "ログインに戻る", new_user_session_path %></h5>
  <h5><%= link_to "新規登録に戻る", new_user_registration_path %></h5>
</div>
</div>