<div data-turbo="false">
  <%= link_to favorites_path(another_post_id: another_post.id), id: "js-favorite-button-for-another_post-#{another_post.id}", method: :post, remote: true do %>
    <i class="fa-regular fa-star"></i>
  <% end %>
</div>
