<div class="row">
  <div class="col-12">
    <div class="row">
      <% if @favorite_another_posts.present? %>
        <%= render 'mark_another_post' %>
      <% else %>
        <div class="center" style="margin-top: 100px;">ブックマーク中の掲示板がありません</div>
        <p><div class="center"><%= link_to "エラー用メモ一覧に戻る", another_posts_path, data: { turbo: false },  class: "btn btn-primary mt-5 " %> </div></p>
      <% end%>
    </div>
  </div>
</div>
