<% all_values = @another_posts.map { |another_post| [another_post.status_error_name, another_post.other_error_name, another_post.title, another_post.other_file_name, another_post.file_type&.file_name] }.flatten.uniq %>
<% all_values.each do |value| %>
  <% if value.present? %>
    <li class="list-group-item" role="option" data-autocomplete-value=""><%= value %></li>
  <% end %>
<% end %>