<h1 class="ml-4 mb-5">お知らせ</h1>
<% if @alerms.exists? %>
  <div calss="center">
    <div data-turbo="false"> <%=link_to "前の画面に戻る", another_posts_path, class: "btn btn-primary" %></div>
  </div>
  <br>
  <%= render @alerms %>
<% else %>
  <div class="center"><%= "通知はありません"%></div>
  <br>
  <div data-turbo="false"> <%=link_to "前の画面に戻る", another_posts_path, class: "btn btn-primary" %></div>
<% end %>
