<h1>本当に退会しますか？</h1>
<div class="center mt-3">
  <p>
    退会すると、会員登録情報や<br>
    これまでのメモ履歴が閲覧できなくなります。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
</div>
<div class="center mt-5">
  <%= button_to "退会しない", top_path, method: :get, class: "btn btn-primary ms-3" %>
  <%= button_to "退会する", withdrawal_path, method: :patch , class: "btn btn-danger ms-3", data: { confirm: '本当に退会しますか？' } %>
</div>