<div class="top-adjust">
  <div class= "center">
    <% if user_signed_in? %>
      <p>現在のユーザー名は <%= @user.name %> です。
    <% end %>
  </div>
</div>
<div class="center mt-5">
  <%= link_to '戻る', new_user_session_path, class: "btn btn-primary" %><br>
</div>