<%= render "homes/shared/navbar" %>
<div class="center">
  <div class="midashi">Railsだけメモとは？</div>
</div>
<div class="center">
  <p>
    Rails用に作られたコードを保存できる<br>
    メモアプリです! <br>
  </p>
</div>
<br>
<div class="cent-text">
  コードを保存したり、検索で作成したメモを見つけたりもできます！
</div>
  <%= link_to image_tag("undraw_Graduation_re_gthn.png")%>

