<%= render "homes/shared/navbar" %>
<div class="center">
  <div class="midashi">Railsだけメモとは？</div>
</div>
<div class="center-font">
  <p>
    Rails用に作られたコードを保存できる<br>
    メモアプリです! <br>
  </p>
</div>
<div class="center"><%= link_to image_tag("undraw_Graduation_re_gthn.png") %></div>
<br>
<div class="cent-text">
  コードを保存したり、検索で作成したメモを見つけることが可能です<br />
  またファイル名を選択することも出来ます！<i class="fas fa-pencil-alt"></i>
</div>
<div class= "center"> 
  <a href="https://gyazo.com/c1a3f22a8ae41d1db7309c42be55d767"><img src="https://i.gyazo.com/c1a3f22a8ae41d1db7309c42be55d767.png" alt="Image from Gyazo" width="424"/></a>
  <a href="https://gyazo.com/1232d54cdc113d82ace6721859488011"><img src="https://i.gyazo.com/1232d54cdc113d82ace6721859488011.png" alt="Image from Gyazo" width="432"/></a>
  <a href="https://gyazo.com/aa20cb9d3b07200a803ad2ff7b7886f1"><img src="https://i.gyazo.com/aa20cb9d3b07200a803ad2ff7b7886f1.gif" alt="Image from Gyazo" width="500"/></a>
</div>
