<%= render "homes/shared/navbar" %>
<div class="center">
  <div class="midashi">このアプリの機能は？</div>
</div>
<div class="center-font">
  <p>
    Rails用に作られたコードを保存できる<br>
    メモアプリです! <br>
  </p>
</div>
<div class="center">
  <img src="/assets/undraw_Graduation_re_gthn.png", max-width="100vh", max-height="100vh">
</div>
<br>
<div class="cent-text">
  コードを保存したり、検索で作成したメモを見つけることが可能です<br />
  またファイル名を選択することも出来ます！<i class="fas fa-pencil-alt"></i>
</div>
<div class= "center"> 
  <img src="/assets/exanp1.png", width="424">
  <img src="/assets/exanp2.png", width="432">
  <img src="/assets/exanp3.gif", width="500">
</div>
