<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="navbar-brand"><%= link_to "ホームページ", root_path%></div>
    <button class="navbar-toggler" type= "button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <i class="fas fa-user-plus"></i><%=link_to "新規登録",new_user_registration_path, aria: { current: 'page' } %>
          </li>
          <li class="nav-item">
            <i class="fas fa-person-booth"></i><%= link_to "ログイン", new_user_session_path %>
          </li>
        </ul>
      </div>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <i class="fa-solid fa-kiwi-bird"></i><%= link_to user_twitter2_omniauth_authorize_path, method: :post  do%>X(Twitter)でログイン<% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>