<div class="row">
  <div class="col-12">
    <div class="row">
      <% if @bookmark_posts.present? %>
        <%= render 'mark_post' %>
      <% else %>
        <div class="center">ブックマーク中の掲示板がありません</div>
        <p><div class="center"><%= link_to "保存用メモ一覧に戻る", posts_path, data: { turbo: false },  class: "btn btn-primary mt-5 " %> </div></p>
      <% end%>
    </div>
  </div>
</div>
