@media screen and (min-width: 481px) {
  .form-group{
    text-align: center;
    margin-top: 10px;
    font-size: 15pt;
    word-break: break-all;
  }
}

.card-text{
  font-size: clamp(3px, 1vw, 12px);
  word-break: break-all;
}

.card-body{
  font-size: clamp(1px, 1vw, 18px);
  word-break: break-all;
}

.card-subtitle{
  font-size: clamp(2px, 1vw, 15px);
  word-break: break-all;
}

.list-group{
  font-size: clamp(2px, 1vw, 15px);
  word-break: break-all;
}

.hidden{
  display: none;
  justify-content: center;
}


.fo1{
  font-size: clamp(5px, 1vw, 15px);
  font-weight: bold;
}

.fo2{
  /*font-size: unquote('clamp(11px, 1vw + 1rem, 14px)');*/
  font-size: clamp(4px, 1vw, 13px);
  font-weight: bold;
}

.fo3{
  font-size: clamp(3px, 1vw, 10.5px);
}
