@media screen and (min-width: 320px) {
  .form-group{
    text-align: center;
    margin-top: 10px;
    font-size: 15pt;
    word-break: break-all;
  }
}

@media screen and (min-width: 320px) {
  .card-text{
    font-size: unquote("clamp(0.8rem, 1vw, 1.8rem)");
    word-break: break-all;
  }
}

.card-body{
  font-size: unquote('clamp(1rem, 1vw, 1.2rem)');
  word-break: break-all;
}

.card-subtitle{
  font-size: unquote('clamp(0.8rem, 1vw, 2rem)');
  word-break: break-all;
}

.list-group{
  font-size: unquote('clamp(0.8rem, 1vw, 3rem)');
  word-break: break-all;
}

.hidden{
  display: none;
  justify-content: center;
}


.fo1{
  font-size: unquote('clamp(2rem, 1vw, 4rem)');
  font-weight: bold;
}

.fo2{
  font-size: unquote('clamp(1.5rem, 1vw, 3rem)');
  font-weight: bold;
}

.fo3{
  font-size: unquote('clamp(1.2rem, 1vw, 2.3rem)');
}

.fo4{
  font-size: unquote('clamp(1.2rem, 1vw, 1.8rem)');
}
