.form-group{
  text-align: center;
  justify-content: space-around;
  font-size: 15pt;
}

.hidden{
  display: none;
  justify-content: center;
}

.topleft{
  position: absolute;
  top: 30px;
  left: 100px;
}
