.topleft{
  position: absolute;
  margin-top: 100px;
  left: 100px;
  font-size: 15px;
}
.topright{
  position: absolute;
  margin-top: 40px;
  right: 100px;
  font-size: 15px;
}

@media screen and (min-width: 481px) {
  .form-group{
    text-align: center;
    justify-content: space-around;
    font-size: 15pt;
  }
}

.hidden{
  display: none;
  justify-content: center;
}

@media screen and (min-width: 481px) {
  .font-arrange {
    border-bottom: 3px dashed #000;
    font-size: 20px;
    margin: 8px;
  }
}
.text-left{
  text-align: left;
  margin-left: 10px;
}

[data-controller="autocomplete"] {
  display: inline-block; /* コンテナをインラインブロック要素として扱う */
  width: 300px; /* 適切な幅に設定 */
}

/* 検索ボタンに対するスタイル */
.btn-primary {
  margin-left: 10px; /* 自動補完のコンテナとの間にマージンを設ける */
  padding-left: 10px;
}

@media screen and (min-width: 481px) {
  .posts-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    flex-shrink: 0;
  }
}
@media screen and (min-width: 481px) {
  .search-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5px;
  }
}

.bookmark-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}
