<div class="container">
  <h1> ٩( ᐛ )وいずれかを選択して下さい</h1>
</div>
<div class="line-block">
  <div class="line-block">
    <div class="boxmi11">
      <div class="boxmi11-title"><%= link_to "保存用", new_post_path, data: { turbo: false } %></div>
    </div>
  </div>
  <div class="line-block">
    <div class="boxmi11">
      <div class="boxmi11-title"><%= link_to "前の画面に戻る", top_path, data: { turbo: false } %></div>
    </div>
  </div>
  <div class="line-block">
    <div class="boxmi11">
      <div class="boxmi11-title"><%= link_to "エラー用", new_another_post_path, data: { turbo: false } %></div>
    </div>
  </div>
</div>
