<div class="container">
  <h1> ٩( ᐛ )وどちらかを選択して下さい</h1>
</div>
  <br>
  <div class="line-block">
    <div class="boxmi11">
      <div class="boxmi11-title">保存用</div>
    </div>
  </div>
  <div class="line-block">
    <div class="boxmi11">
      <div class="boxmi11-title">エラー用</div>
    </div>
  </div>
